@page "/"
@using HotelManagement.BlazorServer.Components.Pages.Hotels.Shared
@layout PublicLayout
<PageTitle>Home</PageTitle>

<h1 class="text-amber-700">Hello, world!</h1>

Welcome to your new app.

<AmenitySelector />